<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js in Ch. 2</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="notification">
        <section>
          <filtering :filter="filter" @change-filter-query="changeQuery" @change-filter-field="changeFilter"></filtering>
        </section>

        <section>
          <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Balance</th>
                  <th>Registered</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="individual in people">
                  <team-member :person="individual" :filter="filter"></team-member>
                </template>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/x-template" id="team-member-template">
    <tr v-show="filterRow()">
      <td>{{ person.name }}</td>
      <td><a :href="'mailto:' + person.email">{{ person.email }}</a></td>
      <td :class="balanceClass">{{ balance }}</td>
      <td>{{ dateRegistered }}</td>
      <td :class="activeClass">{{ status }}</td>
    </tr>
  </script>

  <script type="text/x-template" id="filtering-template">
    <form class="form">
      <div class="field">
        <label for="filterField" class="label">Field:</label>
        <div class="control">
          <div class="select">
            <select name="filterField" id="filterField" @change="changeFilterField($event)">
              <option value="">Disable Filters</option>
              <option value="isActive">Active User</option>
              <option value="name">Name</option>
              <option value="email">Email</option>
              <option value="balance">Balance</option>
              <option value="registered">Date Registered</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field" v-show="this.filter.field && !isActiveFilterSelected()">
        <label for="filterQuery" class="label">Query</label>
        <div class="control">
          <input class="input" type="text" name="filterQuery" id="filterQuery" v-model="filter.query">
        </div>
      </div>
      <div class="field is-grouped" v-show="isActiveFilterSelected()">
        <div class="control">
          <label for="userStateActive" class="label">Active</label>
          <input type="radio" name="userStateActive" id="userStateActive" :value="true" v-model="filter.query"
            checked>
          <label for="userStateInactive" class="label">Inactive</label>
          <input type="radio" name="userStateInactive" id="userStateInactive" :value="false"
            v-model="filter.query">
        </div>
      </div>
    </form>
  </script>

  <script>
    data = [
      {
        "index": 0,
        "guid": "acf22ef1-ff33-4adf-b884-b01a3746d029",
        "isActive": true,
        "balance": 3148.67,
        "name": "Fisher Gould",
        "email": "fishergould@maineland.com",
        "registered": "2018-11-13T08:56:03"
      },
      {
        "index": 1,
        "guid": "e4f0472d-5680-4353-a9fd-d332bca44f8f",
        "isActive": false,
        "balance": 2894.46,
        "name": "Christa Short",
        "email": "christashort@maineland.com",
        "registered": "2018-12-31T04:47:33"
      },
      {
        "index": 2,
        "guid": "259f32ff-6fbb-4a44-984f-f3afb62a7aef",
        "isActive": true,
        "balance": 1789.26,
        "name": "Owen Roberson",
        "email": "owenroberson@maineland.com",
        "registered": "2015-12-10T02:31:17"
      },
      {
        "index": 3,
        "guid": "b6d96b8a-c4e5-48c0-b621-e4885714f998",
        "isActive": false,
        "balance": 2917.41,
        "name": "Jewell Silva",
        "email": "jewellsilva@maineland.com",
        "registered": "2015-03-22T06:52:39"
      },
      {
        "index": 4,
        "guid": "53541d26-b00a-4c79-be1f-94a206b763f7",
        "isActive": false,
        "balance": 1209.94,
        "name": "Mclaughlin Chambers",
        "email": "mclaughlinchambers@maineland.com",
        "registered": "2016-07-21T08:27:19"
      },
      {
        "index": 5,
        "guid": "c22b6522-558d-4188-a2e1-19488ada13bb",
        "isActive": true,
        "balance": 1981.43,
        "name": "Mitzi Burke",
        "email": "mitziburke@maineland.com",
        "registered": "2014-04-20T01:17:22"
      },
      {
        "index": 6,
        "guid": "ed8e6542-16ef-4d26-95f0-b247a40739d4",
        "isActive": false,
        "balance": 3815.97,
        "name": "Hattie Holcomb",
        "email": "hattieholcomb@maineland.com",
        "registered": "2014-03-07T11:59:00"
      },
      {
        "index": 7,
        "guid": "b8f5a48f-2855-4a80-9b24-472d560f7f40",
        "isActive": true,
        "balance": 1274.96,
        "name": "Moran Kidd",
        "email": "morankidd@maineland.com",
        "registered": "2018-12-02T08:46:54"
      },
      {
        "index": 8,
        "guid": "8010fc72-aba7-4e1f-8ee5-261ab9bc85b5",
        "isActive": false,
        "balance": 2440.96,
        "name": "Franks Vincent",
        "email": "franksvincent@maineland.com",
        "registered": "2015-10-15T11:24:49"
      },
      {
        "index": 9,
        "guid": "751e75b5-79b1-4156-8f90-25ec2e4047fc",
        "isActive": true,
        "balance": 3147.6,
        "name": "Roxie Phillips",
        "email": "roxiephillips@maineland.com",
        "registered": "2017-03-11T12:06:23"
      }
    ]

    Vue.component('team-member', {
      template: '#team-member-template',

      data() {
        return {
          currency: '$'
        }
      },

      props: {
        person: Object,
        filter: Object,
      },

      computed: {
        activeClass() {
          return this.person.isActive ? 'is-primary' : 'is-warning'
        },

        balanceClass() {
          let balanceLevel = 'is-success'
          if (this.person.balance < 2000) {
            balanceLevel = 'is-error'
          } else if (this.person.balance < 3000) {
            balanceLevel = 'is-warning'
          }
          let increasing = 'false',
              balance = this.person.balance / 1000
          if (Math.round(balance) === Math.ceil(balance)) {
            increasing = 'increasing'
          }
          return [balanceLevel, increasing]
        },

        balance() {
          return this.currency + this.person.balance.toFixed(2)
        },

        dateRegistered() {
          let registered = new Date(this.person.registered)
          return registered.toLocaleString('en-US')
        },

        status() {
          return (this.person.isActive) ? 'Active' : 'Inactive'
        },
      }, // team-member's computed ends

      methods: {
        filterRow() {
          let visible = true,
              field = this.filter.field
              query = this.filter.query
          if (field) {
            if (this.filter.field === 'isActive') {
              visible = (typeof query === 'boolean') ? (query === this.person.isActive) : true
            } else {
              query = String(query)
              field = this.person[field]
              if (typeof field === 'number') {
                query.replace(this.currency, '')
                try {
                  visible = eval(field + query)
                } catch(e) {}
              } else {
                field = field.toLowerCase()
                visible = field.includes(query.toLowerCase())
              }
            }
          }
          return visible
        } // filterRow() ends
      } // methods ends
    }) // team-member component ends

    Vue.component('filtering', {
      template: '#filtering-template',

      props: {
        filter: Object,
      },

      methods: {
        changeFilterField(event) {
          this.$emit('change-filter-field', event.target.value)
        },

        isActiveFilterSelected() {
          return (this.filter.field === 'isActive')
        }
      }, // methods ends()

      watch: {
        'filter.query': function() {
          this.$emit('change-filter-query', this.filter.query)
        },
      },
    }) // filtering component ends

    const vm = new Vue({
      el: '#app',

      data: {
        people: data,
        filter: {
          field: '',
          query: '',
        }
      },

      methods: {
        changeFilter(field) {
          this.filter.query = ''
          this.filter.field = field
        }, // changeFilter() ends

        filterRow(person) {
          let visible = true,
              field = this.filter.field
              query = this.filter.query
          if (field) {
            if (this.filter.field === 'isActive') {
              visible = (typeof query === 'boolean') ? (query === person.isActive) : true
            } else {
              query = String(query)
              field = person[field]
              if (typeof field === 'number') {
                query = query.replace(this.currency, '')
                try {
                  visible = eval(field + query)
                } catch (e) { }
              } else {
                field = field.toLowerCase()
                visible = field.includes(query.toLowerCase())
              }
            }
          }
          return visible
        }, // filterRow() ends

        changeQuery(query) {
          this.filter.query = query
        }
      }
    })
  </script>

</body>

</html>